NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OFNHxK2tciIEj0K5qeOa6w_7v5uxzLC
NEXT_PUBLIC_SUPABASE_URL=https://tukbuamflvsqvnaxcgmo.supabase.co
NEXT_PUBLIC_BASE_URL=https://thingsabove.life
NEXT_PUBLIC_IOS_TESTFLIGHT_URL=https://testflight.apple.com/join/j6Qs882p
NEXT_PUBLIC_ANDROID_BETA_URL=https://github.com/DeepCOP/thingsabove/releases
