NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_OFNHxK2tciIEj0K5qeOa6w_7v5uxzLC
NEXT_PUBLIC_SUPABASE_URL=https://tukbuamflvsqvnaxcgmo.supabase.co
NEXT_PUBLIC_BASE_URL=https://thingsabove.life
NEXT_PUBLIC_SITE_CHANNEL=production
NEXT_PUBLIC_IOS_DOWNLOAD_URL=
NEXT_PUBLIC_ANDROID_DOWNLOAD_URL=
SUPABASE_SERVICE_ROLE_KEY=
